#overallstructure_title{
    position:absolute;
    left:863px;
    top:125px;
    width:145px;
    height:41px;
    font-family:'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:36px;
}
.graph{
    position:absolute;
    left:370px;
    top:360px;
    width:1350px;
    height:800px;
}
.r1_cls{
    position:absolute;
    left:499px;
    top:325px;
    width:100px;
    height:23px;
}
.r2_cls{
    position:absolute;
    left:670px;
    top:325px;
    width:100px;
    height:23px;
}
.text1{
    position:absolute;
    left:892px;
    top:325px;
    width:21px;
    height:23px;
}
.text2{
    position:absolute;
    left:1008px;
    top:325px;
    width:21px;
    height:23px;
}
.num_cls{
    position:absolute;
    left:923px;
    top:325px;
    width:75px;
    height:23px;
}