#targetname_title{
    position:absolute;
    left:864px;
    top:125px;
    width:289px;
    height:41px;
    font-family:'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:36px;
}
.retrieve_cls{
    position:absolute;
    left:435px;
    top:220px;
    width:1000px;
    height:45px;
    font-size:20px;
}
.update_cls{
    position:absolute;
    left:435px;
    top:300px;
    width:1000px;
    height:45px;
    font-size:20px;
}
.name_cls{
    position:absolute;
    left:435px;
    top:345px;
    width:1000px;
    height:45px;
    font-size:20px;
}
.submit_retrieve{
    position:absolute;
    left:1480px;
    top:225px;
    width:140px;
    height:35px;
    font-family:'Arial Negreta', 'Arial Normal', 'Arial';
    font-style:normal;
    font-size:20px;
}
.submit_update{
    position:absolute;
    left:1480px;
    top:328px;
    width:140px;
    height:35px;
    font-family:'Arial Negreta', 'Arial Normal', 'Arial';
    font-style:normal;
    font-size:20px;
}
.tb_cls{
    position:absolute;
    left:567px;
    top:515px;
    width:881px;
    height:600px;
}
.tb_cls td, .tb_cls th{
    border: 1px solid #ddd;
    padding: 15px;
}
.tb_cls th{
    background-color: #CCCCCC;
}